<template>
    <div class="container">
        <div class="sidebar" data-color="azure" data-background-color="white" data-image="">
            <div class="logo">
                <a href="/" class="simple-text logo-normal">
                    Kemahasiswaan
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active ">
                        <a class="nav-link" href="#">
                            <p>List Prodi</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="return confirm('Are you sure to logout?')">
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">List Prodi</h4>
                                    <p class="card-category"> Dibawah ini merupakan daftar prodi yang ada di FILKOM</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary">
                                                <th>ID</th>
                                                <th>Nama Prodi</th>
                                                <th>Detail</th>
                                            </thead>
                                            <tbody v-for="pro in prodi" :key="pro.id_prodi">
                                                <tr>
                                                    <td>{{ pro.id_prodi }}</td>
                                                    <td>{{ pro.nama_prodi }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary" v-on:click="fetchMahasiswaByProdi(pro.id_prodi)"
                                                            data-toggle="modal" data-target="#prodiModal">
                                                            Detail
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="prodiModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">NIM</th>
                                <th scope="col">Nama</th>
                                <th scope="col">No HP</th>
                            </tr>
                        </thead>
                        <tbody v-for="(value, index) in mahasiswa" :key="value.id_mahasiswa">
                            <tr>
                                <th scope="row">{{ index+1 }}</th>
                                <td>{{ value.nim }}</td>
                                <td>{{ value.nama }}</td>
                                <td>{{ value.no_hp }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                prodi: [],
                mahasiswa: []
            }
        },
        methods: {
            fetchMahasiswaByProdi(prodi){
                fetch(`http://127.0.0.1:8001/api/getAllMahasiswaByProdi?prodi=${prodi}`)
                .then(res => res.json())
                .then(data => this.mahasiswa = data.data)
            }
        },
        mounted(){
            fetch('http://127.0.0.1:8001/api/getAllProdi')
            .then(res => res.json())
            .then(response => this.prodi = response.data)
            .catch(error => console.log(error.message));
        }
    }
</script>
<style>
    nav {
        background: #007bff;
        background: linear-gradient(to right, #0062E6, #33AEFF);
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 260px;
        background: #fff;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
</style>