<template>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign Up</h5>
              <form @submit.prevent="register">
                <div class="form-group">
                  <label for="nama">Nama</label>
                  <input type="text" name="nama" id="nama" v-model="nama" class="form-control"
                    placeholder="enter your nama">
                </div>

                <div class="form-group">
                  <label for="nim">NIM</label>
                  <input type="text" name="nim" id="nim" v-model="nim" class="form-control"
                    placeholder="enter your nim">
                </div>

                <div class="form-group">
                  <label for="no_hp">No. Handphone</label>
                  <input type="text" name="no_hp" id="no_hp" v-model="no_hp" class="form-control"
                    placeholder="enter your number">
                </div>

                <div class="form-group">
                  <label for="no_hp">Program Studi</label>
                  <!-- <input type="text" name="prodi" id="prodi" v-model="program_studi" class="form-control" placeholder="choose your program studi"> -->
                  <select v-model="program_studi" class="custom-select">
                    <option v-for="pro in prodi" v-bind:key="pro.id_prodi" :value="pro.id_prodi">{{ pro.nama_prodi }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" v-model="password" class="form-control"
                    placeholder="enter your passsword">
                </div>

                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit">Sign up</button>
              </form>
              <hr class="my-4">
              <router-link :to="{name: 'authentication.login'}" class="btn btn-lg btn-primary btn-block mb-2">LOGIN
              </router-link>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</template>



<script>
  
  export default {
    data() {
      return {
        prodi: [],
        nama: '',
        nim: '',
        no_hp: '',
        program_studi: '',
        password: ''
      }
    },
    methods: {
      async register() {
        const response = await fetch('http://127.0.0.1:8001/api/register', {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({
              nama: this.nama,
              nim: this.nim,
              no_hp: this.no_hp,
              prodi: this.program_studi,
              password: this.password
            })
          })
          .then(data => data.json())
          .then(res => res)
          .catch(err => console.log(err.message));
        if (response.success == true) {
          this.$router.push({name: 'authentication.login'})
        } else {
          this.$router.push({name: 'authentication.register'})
        }
      }
    },
    mounted() {
      fetch('http://127.0.0.1:8001/api/getAllProdi')
        .then(res => res.json())
        .then(response => this.prodi = response.data)
        .catch(error => console.log(error.message));
      console.log(this.prodi);
    }
    //return:{post, validation, router, signin}
  }
</script>

<style>
  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }

  body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }

  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-body {
    padding: 2rem;
  }

  .form-signin {
    width: 100%;
  }

  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }

  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  .btn-google {
    color: white;
    background-color: #ea4335;
  }

  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
</style>